listen_addresses = '{{ postgresql_bind_address }}'
port = {{ terraform_state_postgresql_port }}
password_encryption = 'scram-sha-256'

ssl = on
ssl_min_protocol_version = 'TLSv1.2'
ssl_cert_file = '{{ terraform_state_config_root }}/postgresql/tls/server.crt'
ssl_key_file = '{{ terraform_state_config_root }}/postgresql/tls/server.key'
ssl_ca_file = '{{ terraform_state_config_root }}/postgresql/tls/ca.crt'

max_connections = 30
shared_buffers = '256MB'
effective_cache_size = '1GB'
maintenance_work_mem = '64MB'
work_mem = '4MB'

log_destination = 'jsonlog'
logging_collector = on
log_directory = '{{ terraform_state_log_root }}/postgresql'
log_filename = 'postgresql-%Y-%m-%d.json'
log_rotation_age = '1d'
log_truncate_on_rotation = on
log_connections = on
log_disconnections = on
log_lock_waits = on
log_min_duration_statement = 1000
log_statement = 'ddl'

timezone = 'Europe/Paris'
datestyle = 'iso, dmy'
