token: "{{ rke2_token }}"
node-ip: "{{ k8s_ip }}"
advertise-address: "{{ k8s_ip }}"
tls-san:
  - "{{ k8s_ip }}"
write-kubeconfig-mode: "0640"
disable:
  - rke2-ingress-nginx
  - rke2-traefik
cni: cilium
cluster-cidr: "{{ rke2_cluster_cidr }}"
service-cidr: "{{ rke2_service_cidr }}"
{% if rke2_server_url | length > 0 %}
server: "{{ rke2_server_url }}"
{% else %}
cluster-init: true
{% endif %}
disable-default-registry-endpoint: true
selinux: true
