[Interface]
Address = {{ wireguard_gateway_tunnel_ip }}/{{ wireguard_tunnel_cidr.split('/')[1] }}
ListenPort = {{ wireguard_listen_port }}
PrivateKey = {{ wireguard_validated_material.private_key }}
{% for peer in wireguard_validated_material.peers %}

[Peer]
PublicKey = {{ peer.public_key }}
AllowedIPs = {{ peer.allowed_ip }}
{% endfor %}
